<mat-card>
    <h1 class="text-center">Update Category</h1>
    <mat-card-content>
        <div class="bootstrap-wrapper">
            <div class="row">
                <div class="col-md-9 offset-3">

                    <form (ngSubmit)="update()">
                        <mat-form-field class="w100" appearance="outline">
                            <mat-label>Category Title</mat-label>
                            <input required [(ngModel)]="Category.title" autofocus name="title" type="text" matInput placeholder="Enter category title">
                        </mat-form-field>
                        <mat-form-field class="w100" appearance="outline">
                            <mat-label>Category Description</mat-label>
                            <textarea required [(ngModel)]="Category.description" name="description" matInput placeholder="Enter category description here..."  rows="15"></textarea>
                        </mat-form-field>

                        <div class="container mt12">
                            <button mat-raised-button color="primary" type="submit">Update</button>
                            <button style="margin-left: 25px;" mat-raised-button color="primary" (click)="close()">Close</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>
